/*!
 * Custom Styles for this presentation
 */

button {
	font-size: 1em;
	padding: 0.5em;
}

input, select {
	font-size: 0.8em;
}

/*Customized range slider appearance is copied from http://jsfiddle.net/leaverou/BNm8j/*/
input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    width: 10px;
    height: 26px;
}

.presentation section img {
	border: none;
}

.presentation .inline-block {
	display: inline-block;
	vertical-align: top;
}

.presentation .left-align {
	text-align: left;
}

.presentation .block {
	display: block;
}

.presentation .bold {
	font-weight: bold;
}

.presentation .green {
	color: green;
}

/*
 * Demo box
 */
.presentation .demo {
	margin-top: 1em;
}

.presentation pre {
	tab-size: 4;
	margin-top: 1em;
}

.presentation code {
	font-family: Source Code Pro, Menlo, Monaco, Consolas, monospace;
}

.presentation .scroll-box {
	font-size: 0.6em;
	width: 40%;
	height: 8em;
	margin: 0 2%;
	padding: 0.5em;
	overflow-y: scroll; /* has to be scroll, not auto */
	display: inline-block;
	border: 1px #333 solid;
}

.presentation .touch {
	-webkit-overflow-scrolling: touch;
}